<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ayuan.core.model.dao.SysOperationLogMapper">

    <resultMap type="com.ayuan.core.model.entity.SysOperationLog" id="SysOperationLogResult">
        <id     property="id"               column="id"                />
        <result property="title"            column="title"             />
        <result property="businessType"     column="business_type"     />
        <result property="classMethod"      column="class_method"      />
        <result property="requestMethod"    column="request_method"    />
        <result property="operatorType"     column="operator_type"     />
        <result property="operationName"    column="operation_name"    />
        <result property="operationUrl"     column="operation_url"     />
        <result property="operationIp"      column="operation_ip"      />
        <result property="operationLocation" column="operation_location" />
        <result property="operationParam"   column="operation_param"   />
        <result property="jsonResult"       column="json_result"       />
        <result property="operationStatus"  column="operation_status"  />
        <result property="errorMsg"         column="error_msg"         />
        <result property="operationTime"    column="operation_time"    />
        <result property="remark"           column="remark"            />
    </resultMap>

    <sql id="selectOperationLogVo">
        select id, title, business_type, class_method, request_method, operator_type, operation_name,
               operation_url, operation_ip, operation_location, operation_param, json_result,
               operation_status, error_msg, operation_time, remark
        from sys_operation_log
    </sql>

    <insert id="insertOperationLog" parameterType="com.ayuan.core.model.entity.SysOperationLog">
        insert into sys_operation_log(title, business_type, class_method, request_method, operator_type,
                                      operation_name, operation_url, operation_ip, operation_location,
                                      operation_param, json_result, operation_status, error_msg, remark,
                                      operation_time)
        values (#{title}, #{businessType}, #{classMethod}, #{requestMethod}, #{operatorType},
                #{operationName}, #{operationUrl}, #{operationIp}, #{operationLocation},
                #{operationParam}, #{jsonResult}, #{operationStatus}, #{errorMsg}, #{remark},
                #{operationTime})
    </insert>

    <select id="selectOperationLogList" parameterType="com.ayuan.core.model.entity.SysOperationLog" resultMap="SysOperationLogResult">
        <include refid="selectOperationLogVo"/>
        <where>
            <if test="operationIp != null and operationIp != ''">
                AND operation_ip like concat('%', #{operationIp}, '%')
            </if>
            <if test="title != null and title != ''">
                AND title like concat('%', #{title}, '%')
            </if>
            <if test="businessType != null">
                AND business_type = #{businessType}
            </if>
            <if test="operationStatus != null">
                AND operation_status = #{operationStatus}
            </if>
            <if test="operationName != null and operationName != ''">
                AND operation_name like concat('%', #{operationName}, '%')
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                AND operation_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                AND operation_time &lt;= #{params.endTime}
            </if>
        </where>
    </select>

    <delete id="deleteOperationLogByIds" parameterType="String">
        delete from sys_operation_log where id in
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectOperationLogById" parameterType="Long" resultMap="SysOperationLogResult">
        <include refid="selectOperationLogVo"/>
        where id = #{id}
    </select>

    <update id="cleanOperationLog">
        truncate table sys_operation_log
    </update>

</mapper>
